/* Basic configuration */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

/* Happy variables */
:root {
	--font-size-primary: 1.8rem;
	--font-family: "Open Sans", sans-serif;
}

/* Styles */

header {
	border: 1px solid red;
	font-size: var(--font-size-primary);
}

ul {
	display: flex;
	list-style: none;
}

.nav-menuImg,
.main-searchImg,
.main-microImg {
	width: 2.5rem;
	height: 2.5rem;
}

.nav-profileImg {
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	object-fit: cover;
}

ul > li > a {
	text-decoration: none;
	font-size: var(--font-size-primary);
	font-family: var(--font-family);
}

main {
	border: 1px solid blue;
}

footer {
	border: 1px solid green;
}
